<div class="home-container">
  <mat-toolbar>
    <div class="toolbar-left">
      @if (isHandset$ | async) {
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      }
      <a aria-label="Ecommerce" class="title">
        Ecommerce
      </a>
    </div>
    <span class="page-label">{{getPageName()}}</span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        @for (item of featureGroups; track item) {
        <a mat-list-item [routerLink]="item.route" [ngClass]="{'active': currentRoute === item.route }">
          <span>{{ item.title }}</span>
        </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="right-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>