.home-container {

  mat-toolbar {
    padding: 10px 20px;
    height: 60px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.16);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .toolbar-left {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      .title {
        font-size: 25px;
      }
    }

    .page-label {
      font-size: 18px;
    }
  }

  mat-sidenav {
    width: 270px;
  }

  mat-sidenav,
  mat-sidenav-container {
    height: calc(100vh - 60px);
  }

  mat-nav-list {
    padding: 20px;

    display: flex;
    flex-direction: column;

    a {
      padding: 10px 15px;
      text-decoration: none;
      color: #000;
      font-size: 16px;
      background-color: #efefef;
      border-radius: 6px;
      margin-bottom: 4px;

      &.active {
        background-color: #dfdfdf;
      }
    }

    a:hover {
      background-color: #eaeaea;
    }
  }

  .right-container {
    min-height: calc(100vh - 72px);
    padding: 20px;
    background-color: #f5f5f5;
  }
}
